NODE_ENV=development
PORT=4444
APP_SECRET="yourappsecret"
FRONTEND_URL="http://localhost:7777"
PRISMA_ENDPOINT="https://us1.prisma.sh/some-user/some-app/dev"
PRISMA_SECRET="yourprismasecret"
STRIPE_SECRET="yourstripesecret"
MAIL_HOST="smtp.mailtrap.io"
MAIL_PORT=2525
MAIL_USER="yourmailuser"
MAIL_PASS="yourmailpass"
