FRONTEND_URL="http://localhost:7777"
PRISMA_ENDPOINT="yougottafillthisout"
PRISMA_SECRET="omgplzdonttellanyone"
APP_SECRET="jwtsecret123"
STRIPE_SECRET="sk_123youchanget his"
PORT=4444
MAIL_HOST="smtp.yourserver.com"
MAIL_PORT=25
MAIL_USER="yourmailuser"
MAIL_PASS="supersecretpassword"
